__pycache__/
*.swp
aiis-data-layer/lib/
aiis-data-layer/lib64
aiis-data-layer/bin/
aiis-data-layer/pyvenv.cfg
aiis-data-layer/include/
aiis-data-layer/logs/
aiis-data-layer/data/processed/
ai_agents/lib/
ai_agents/lib64
ai_agents/bin/
ai_agents/pyvenv.cfg
ai_agents/include/
ai_agents/share/
ai_agents/etc/
ai_agents/my-qwen-model/
size.txt
~

